body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

/*NAVBAR STYLING*/

#navbar {
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background-color: #c3d7296e;
  overflow-y: auto;
}

#header .profile .social-links a {
  background-image: initial;
  background-color: white;
  color: darkgreen;
  font-size: 22px;
  line-height: 1;
  padding: 6px 0;
  margin-right: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  justify-content: space-around;
}

#header .profile .social-links a:hover {
  color: #c3d729;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #c3d729;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: white;
  text-decoration: none;
}

#header .profile h1 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  text-align-last: center;
}

/* Links inside the navbar */
.nav-menu a:hover li:hover,
.active > a {
  text-decoration-color: initial;
  color: rgb(229, 224, 216);
  text-decoration: none;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a i {
  font-size: 30px;
  padding-right: 8px;
}

.nav-menu a {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 25px;
  color: white;
}

.nav-menu a:hover {
  color: darkgreen;
}

#hero {
  background: url("./assets/images/me-main.jpg") top center;
  background-image: url("./assets/images/me-main.jpg");
  background-position-x: center;
  background-position-y: top;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  width: 100%;
  height: 75vh;
  background-size: cover;
  color: white;
}

.h1,
h1 {
  font-size: 5rem;
}

.h2,
h2 {
  font-size: 4rem;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);

  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

.section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #c3d729;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #c3d729;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #c3d729;
  width: 50%;
}

div .card-group,
.about {
  height: 600px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 0;
}

.card,
.about {
  margin: 10px;
}

div .card,
.about {
  justify-content: space-evenly;
}

/*ABOUT SECTION*/

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #c3d729;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #c3d729;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*PORTFOLIO PAGE STYLING*/

#portfolio {
  width: 100%;
  height: auto;
}

.card-body {
  background-color: #c3d729;
}

.project-link,
.project-link:hover {
  text-decoration: none;
  color: white;
}

.project-link:hover .card-body {
  background: lightgray;
}

.projects-title {
  text-align: center;
  padding-bottom: 15px;
}

/*CONTACT*/

#contact {
  padding: 20px;
}
.section-bg {
  background: linear-gradient(180deg, #f2f6f9 0%, #fff 100%);
}
.contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #c3d729;
}
.contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "montserrat", serif;
  color: #c3d729;
}

.contact .social-links {
  padding-bottom: 20px;
}

.contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #c3d729;
  line-height: 0;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #c3d729;
}

.contact .social-links a:hover {
  background: darkgreen;
  color: #fff;
}

.contact .info {
  color: #5a656e;
}
.contact .info i {
  font-size: 32px;
  color: #c3d729;
  line-height: 0;
  margin-right: 15px;
}

.contact .info p {
  font-size: 14px;
  margin: 0;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #c3d729;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #c3d729;
}

.contact .php-email-form button[type="submit"] {
  background: #c3d729;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #c3d72970;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*FOOTER*/
#footer {
  padding: 15px;
  color: white;
  font-size: 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background: #c3d729;
}
